<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 开启扫描，但是我们希望不要扫描Controller，希望controller中的类交给springmvc -->
    <context:component-scan base-package="com.gyy">
        <!-- 配置扫描不包括controller注解的下的 -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- spring之整合Mybatis -->
    <!-- 1.配置连接池（数据源） -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql:///ssm"/>
        <property name="user" value="root"/>
        <property name="password" value="yy5201314"/>
    </bean>

    <!-- 2.配置sqlSessionFactory工厂，这个会给spring容器创建出代理对象所以需要配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 这里需要给其引一个数据源 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 3.配置接口所在的位置，让spring知道dao层接口位置 -->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.gyy.dao"/>
    </bean>

    <!-- 配置事务控制 -->
    <!-- 1.配置事务管理器spring提供了实现类 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 2.配置事务通知 -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- 这里可以设置事务的属性什么的比如增删改的隔离级别啥的 -->
            <tx:method name="find*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!-- 3.配置aop增强，选择哪些需要增强即添加事务管理 -->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.gyy.service.impl.*.*(..))"/>
    </aop:config>

</beans>