<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 开启spring容器创建时要扫描1包-->
    <context:component-scan base-package="com.gyy"></context:component-scan>

    <!-- 配置视图解析器这是用来跳转页面的 -->
    <bean id="view" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置路径和后缀名 -->
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <bean id="convertService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <!-- 为转换器组件注入自定义转换器 -->
            <set>
                <bean class="com.gyy.util.StringToDate"></bean>
            </set>
        </property>
    </bean>

    <!--开启springmvc框架的支持-->
    <mvc:annotation-driven conversion-service="convertService"></mvc:annotation-driven>
    <!--使得自定义转换器生效 加上conversion-service -->
</beans>